main {
  margin-left: 320px;

  .wrap {
    max-width: 840px;
    margin: 0 auto;
    padding: 40px;
    .h2-title {
      font-size: 36px;
    }
    .message {
      margin-top: 10px;
      color: #9ea7ad;
    }
    section {
      margin-top: 52px;
      .h3-title {
        margin-bottom: 40px;
        padding-bottom: 14px;
        border-bottom: 1px solid #e6e8eb;
      }
      .row {
        margin-top: 16px;
        label {
          font-weight: 700;
          width: 180px;
          vertical-align: middle;
          display: inline-block;
        }
        .top {
          vertical-align: top;
        }
        textarea {
          height: 220px;
          padding: 20px;
          resize: none;
          box-sizing: border-box;
          border: 1px solid #e6e8eb;
          border-radius: 8px;
          width: calc(100% - 180px);
        }
        input {
          border-radius: 8px;
          border: 1px solid #e6e8eb;
          padding: 16px;
          box-sizing: border-box;
          width: calc(100% - 180px);
          vertical-align: middle;
          &::placeholder {
            font-weight: 700;
            color: black;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}
@media all and (max-width: 767px) {
  main {
    .wrap {
      section {
        .row {
          input,
          textarea {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
