.wrap {
  background: #f6f7f8;
  padding: 40px;
  margin-left: 320px;
  min-height: calc(100vh - 120px);
  .category {
    font-size: 14px;
    margin: 80px 0 28px 0;
    .sub-category {
      color: #525a61;
      font-weight: 700;
    }
    .main-category {
      color: #79828a;
      &::after {
        color: #9ea7ad;
        margin: 0 8px;
        content: ">";
      }
    }
  }
  .top-menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    .filter-wrap {
      display: inline-block;
      .filter-menu {
        display: inline-block;
        vertical-align: middle;
        width: 164px;
        .select-box-wrap {
          border: 1px solid #e6e8eb;
          border-radius: 8px;
          cursor: pointer;
          position: relative;
          background: white;
        }
        .filter-title {
          font-size: 14px;
          font-weight: 700;
          color: #525a61;
          margin-bottom: 8px;
        }
      }
      .filter-menu1 {
        margin-right: 12px;
      }
      .filter-menu2 {
        width: 340px;
        display: inline-flex;
        flex-direction: column;
        .category-filter {
          display: flex;
          gap: 12px;
        }
      }
    }
    .lnb-menu {
      align-self: center;
      a {
        font-size: 18px;
        color: #9ea7ad;
        font-weight: 700;
      }
      .project-link {
        &:after {
          content: "|";
          color: #e6e8eb;
          margin: 0 16px;
        }
      }
      .team-link {
        margin-right: 40px;
      }
      .active {
        color: #5138e5;
      }
      .create-btn {
        background: #5138e5;
        border-radius: 8px;
        width: 141px;
        padding: 15.5px 0;
        color: white;
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .wrap {
    margin-left: 0;
  }
}
