main {
  padding: 40px;
  margin-left: 320px;
  background: #f6f7f8;
  min-height: calc(100vh - 160px);
  .search-area {
    width: 100%;
    padding: 0px 22px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border-radius: 8px;
    background: white;
    display: inline-block;
    &::placeholder {
      color: #9ea7ad;
    }
  }
  .nav-area {
    position: relative;
    margin: 60px 0 24px 0;
    height: 52px;
    line-height: 52px;
    .project-title {
      font-size: 36px;
    }
    .btn-wrap {
      position: absolute;
      top: 0;
      right: 0;
      .add-sample-btn {
        margin-right: 12px;
      }
    }
  }
  .product-list {
    overflow: auto;
    table {
      width: 100%;
      table-layout: fixed;
      th,
      td {
        text-align: left;
        padding: 18px 24px;
        color: #9ea7ad;
        font-size: 14px;
        background: white;
      }
      .created {
        background: url("~images/arrow_bottom.svg") white no-repeat center right
          24px / 16px 16px;
      }
      th {
        position: relative;
        &:not(:last-child) {
          &::after {
            color: #e6e8eb;
            content: "｜";
            position: absolute;
            right: 0;
            width: 6px;
            z-index: 1;
          }
        }
      }
      tbody:before {
        content: "@";
        display: block;
        line-height: 8px;
        text-indent: -99999px;
      }
      tr {
        td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .labcodeImage,
          .sourceImage {
            width: 40px;
            height: 40px;
          }
          .convert-ico {
            width: 18px;
            height: 6px;
            margin: 0 32px;
            background: url("~images/convert_ico.svg") no-repeat center center /
              18px 6px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}
@media all and (max-width: 767px) {
  main {
    .nav-area {
      height: auto;
      line-height: unset;
      .btn-wrap {
        position: unset;
        display: flex;
        margin-top: 20px;
      }
    }
  }
}
