.row {
  position: relative;
  margin-top: 16px;
  label {
    font-weight: 700;
    width: 180px;
    vertical-align: middle;
    display: inline-block;
    color: #79828a;
  }
  .select-box {
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 180px);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    color: #303538;
    background: url("~images/arrow_bottom.svg") #f6f7f8 no-repeat right 10px
      center / 16px 16px;
  }

  .classify-box {
    width: calc(100% - 262px);
    margin-right: 10px;
  }
  .edit-btn {
    width: 72px;
    font-weight: 700;
    height: 51px;
    border: 1px solid #e6e8eb;
    font-size: 14px;
    background: white;
    border-radius: 8px;
  }
  .select-menu {
    position: absolute;
    width: calc(100% - 262px);
    top: 56px;
    right: 82px;
    background: white;
    z-index: 1;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    .message {
      text-align: center;
      margin-top: 16px;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 8px;
      background: #f6f7f8;
    }

    ul {
      max-height: 190px;
      overflow-y: auto;
      margin-top: 16px;
      padding-right: 16px;
      li {
        padding: 16px 0;
        cursor: pointer;
      }
    }
  }
}
