.wrap {
  max-width: 840px;
  margin: 0 auto;
  padding: 80px 40px;
  .h2-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  form {
    label {
      font-weight: 700;
      width: 110px;
      color: #79828a;
      display: inline-block;
    }
    input {
      border-radius: 8px;
      background: #f6f7f8;
      padding: 10px 16px;
      box-sizing: border-box;
      width: calc(100% - 110px);
      &::placeholder {
        color: #9ea7ad;
      }
    }
    .warn-message {
      width: 100%;
      margin-top: 10px;
      margin-left: 110px;
      color: red;
    }
    .email-warn-message {
      @extend .warn-message;
    }
    .row1 {
      &:after {
        display: block;
        content: "";
        clear: both;
      }
      .row-span {
        width: 48%;
      }
      .name-field {
        float: left;
      }
      .email-field {
        float: right;
      }
    }
    .row2 {
      margin: 32px 0;
    }
    .row4 {
      margin-top: 32px;
      textarea {
        background: #f6f7f8;
        width: calc(100% - 110px);
        padding: 20px;
        box-sizing: border-box;
        vertical-align: top;
        border-radius: 8px;
        resize: none;
        height: 365px;
        outline: none;
        &::placeholder {
          color: #9ea7ad;
        }
      }
    }
    .row5 {
      width: 100%;
      margin-top: 60px;
      display: flex;
      justify-content: flex-end;
      button {
        border-radius: 8px;
        font-size: 18px;
        padding: 22px 0;
      }
      .cancel-btn {
        background: #e6e8eb;
        color: black;
        max-width: 200px;
        width: 100%;
      }
      .submit-btn {
        background: #5138e5;
        color: white;
        margin-left: 12px;
        max-width: 200px;
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 767px) {
  .wrap {
    form {
      .row1 {
        .row-span {
          width: 100%;
        }
        .email-field {
          margin-top: 32px;
        }
      }
    }
  }
}
@media all and (max-width: 479px) {
  .wrap {
    form {
      label {
        display: block;
        margin-bottom: 14px;
      }
      input {
        width: 100%;
      }
      .warn-message {
        margin-left: 0;
      }
      .row4 {
        textarea {
          width: 100%;
        }
      }
    }
  }
}
