nav {
  width: 320px;
  position: fixed;
  top: 80px;
  height: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}
@media all and (max-width: 1199px) {
  nav {
    width: 100%;
    height: auto;
    background: white;
    border-bottom: 1px solid #e6e8eb;
    position: sticky;
    z-index: 3;
    ul {
      li {
        width: 33.333%;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
