nav {
  width: 320px;
  background: #ccc;
  position: fixed;
  top: 80px;
  height: 100%;
  ul {
    li {
      a {
        width: 100%;
        padding: 25px 35px;
        box-sizing: border-box;
        display: block;
        color: #79828a;
        font-size: 18px;
      }
      .active {
        background: #f6f5fe;
      }
    }
  }
}
@media all and (max-width: 1199px) {
  nav {
    display: none;
  }
}
