.bg {
  background: #5138e5;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  .center-area {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    max-width: 1280px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 45px;
    box-sizing: border-box;
    .h2-title {
      color: #ffffff;
      line-height: 76px;
      font-size: 3.375rem;
    }
    .h3-title {
      margin-top: 24px;
      color: #b3e052;
      font-size: 1.75rem;
      font-weight: 400;
    }
    .btn-wrap {
      margin-top: 5.55vh;
      .apple-download-btn {
        width: 200px;
        height: 60px;
        margin-right: 16px;
        background: url("~src/assets/images/appStore_download.svg") no-repeat
          center / 100% 60px;
        &:hover {
          background: url("~src/assets/images/appStore_download_hover.svg")
            no-repeat center / 200px 60px;
        }
      }
      .google-download-btn {
        width: 200px;
        height: 60px;
        background: url("~src/assets/images/googlePlay_download.svg") no-repeat
          center / 200px 60px;
        &:hover {
          background: url("~src/assets/images/googlePlay_download_hover.svg")
            no-repeat center / 200px 60px;
        }
      }
    }
  }
}
.ball {
  position: absolute;
  display: inline-block;
  border-radius: 500px;
}
@media all and (max-width: 479px) {
  .bg {
    .center-area {
      text-align: center;
      .h2-title {
        line-height: 40px;
        .Typewriter__cursor,
        .Typewriter__wrapper {
          display: unset;
        }
      }

      .btn-wrap {
        .apple-download-btn,
        .google-download-btn {
          width: 100%;
        }
        .google-download-btn {
          margin-top: 20px;
        }
      }
    }
  }
}
