.select {
  background: #f6f6f6;
  border-radius: 8px;
  box-sizing: border-box;
  select {
    width: 100%;
    height: 48px;
    border: 0;
    font-size: 13px;
    color: #333333;
    font-weight: 700;
    background: url("~src/assets/images/arrow_bottom.svg") no-repeat right
      center / 16px 16px;
  }
}
