footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8.65vh 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  .snaptag-logo {
    grid-column: 1 / span 4;
  }
  .snaptag {
    grid-column: 2 / span 3;
    margin-top: 4.3vh;
    margin-bottom: 3.5vh;
  }
  .col {
    line-height: 27px;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 13px;
    color: #79828a;
    margin-right: 20px;
    .policy {
      &:after {
        content: "｜";
      }
    }
  }
  .col1 {
    grid-column: 2;
  }
}

.select {
  padding: 0 20px;
  margin-top: 16px;
}

@media all and (max-width: 830px) {
  footer {
    grid-template-columns: 1fr 1fr;
    .snaptag {
      grid-column: 1 / 3;
    }
    .col1 {
      grid-column: 1;
    }
    .col2 {
      grid-column: 2;
    }
    .link-wrap {
      grid-column: 1 / 2;
      margin-top: 10px;
    }
  }
}
@media all and (max-width: 479px) {
  footer {
    grid-template-columns: 1fr;
    .col2 {
      grid-column: 1;
    }
  }
}
