header {
  height: 80px;
  padding: 0 16.5vw;
  line-height: 80px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
  }
}
