main {
  .message {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
  }
  .slide-area {
    position: relative;
    padding: 14px 0 14px 60px;
    background: white;
    .slide-btn {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 700;
      background: white;
    }
    .more-view-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 24px;
      margin: auto;
      height: 20px;
      color: #79828a;
      font-size: 14px;
    }
  }
  .project-list {
    margin-top: 20px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    .list {
      position: relative;
      height: 0;
      padding-top: 118%;
      .link {
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 70px);
          background: rgba(0, 0, 0, 0.8);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          z-index: 1;
        }
        .thumbnail {
          position: absolute;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          top: 0;
          left: 0;
          width: 100%;
          object-fit: cover;
          height: calc(100% - 70px);
        }
      }
      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        height: 70px;
        background: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        dl {
          width: 100%;
          dt,
          dd {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          dt {
            font-weight: 700;
            font-size: 18px;
          }
          dd {
            font-size: 14px;
            color: #79828a;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
