main {
  padding: 80px 35px;
  margin-left: 320px;

  .modal-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
  }
  .h2-title {
    font-size: 32px;
  }
  .message {
    color: #9ea7ad;
    margin-top: 14px;
  }
  section {
    .h3-title {
      font-size: 24px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f4f5;
    }
    .row {
      margin-top: 24px;
      label {
        width: 180px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
      }

      input {
        background: #f6f7f8;
        border-radius: 8px;
        width: calc(100% - 180px);
        padding: 15px 16px;
        box-sizing: border-box;
        vertical-align: middle;
        &::placeholder {
          color: #9ea7ad;
        }
      }
      .business-image-area {
        display: inline-block;
        width: calc(100% - 180px);
        box-sizing: border-box;
        .attach {
          display: inline-block;
          vertical-align: middle;
          background: #f6f7f8;
          border-radius: 8px;
          width: calc(100% - 164px);
          margin-right: 12px;
          padding-left: 16px;
          padding-right: 8px;
          input[type="file"] {
            display: none;
          }
          .input-file {
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% - 36px);
            height: 51px;
            line-height: 51px;
            vertical-align: middle;
          }
          .delete-btn {
            width: 36px;
            height: 36px;
            vertical-align: middle;
            background: url("~images/delete_file_btn.svg") no-repeat center
              center / 36px 36px;
          }
        }
        .file {
          background: #79828a;
          color: white;
          border-radius: 8px;
          text-align: center;
          padding: 14px 0;
          width: 128px;
          height: 51px;
          line-height: 24px;
          box-sizing: border-box;
        }
      }
      .warn-message {
        color: red;
        margin-top: 10px;
        margin-left: 180px;
      }
    }
  }
  .section1 {
    margin: 40px 0;
  }
}
@media all and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}
@media all and (max-width: 767px) {
  main {
    section {
      .row {
        input {
          width: 100% !important;
        }
        .warn-message {
          margin-left: 0;
        }
        .file {
          margin-top: 10px;
        }
      }
    }
  }
}
