.banner {
  display: inline-block;
  border: 1px solid #e6e8eb;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  .outline {
    position: relative;
    background: url("~images/drag_drop_ico.svg") #f6f7f8 no-repeat center /
      160px 64px;
    .image {
      position: absolute;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media all and (max-width: 767px) {
  .banner {
    width: 100% !important;
    margin-top: 10px;
  }
}
