.contents {
  .box {
    width: 100%;
    background: #ffffff;
    height: 148px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 36px 0;
    padding-left: 32px;
    box-sizing: border-box;
    .statistic-ico {
      width: 76px;
      height: 76px;
      vertical-align: middle;
      background: url("~src/assets/images/statistic_ico.svg") no-repeat center /
        76px 76px;
    }
    .statistic-info {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      .number {
        font-size: 24px;
        display: block;
        margin-bottom: 6px;
      }
    }
  }
  .chart-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    .chart {
      min-width: 100%;
    }
  }
  .bottom-chart-wrap {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    .map-chart {
      text-align: center;
      grid-column: 1 / span 2;
      padding: 32px 36px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }
    .doughnut-wrap {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
    }
  }
  .line {
    background: #ea43cf;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .total {
    padding: 5.06%;
    box-shadow: 1px 0px 4px 1px #e5e5e5;
    .ago {
      display: block;
      margin-top: 8px;
      color: #777777;
      font-size: 14px;
    }
  }
  .grouped-bar {
    background: #73d27d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

@media all and (max-width: 991px) {
  .contents {
    .chart-wrap {
      grid-template-columns: repeat(2, 1fr);
      .chart1 {
        grid-column: 1 / 2;
      }
    }
    .bottom-chart-wrap {
      grid-template-columns: repeat(1, 1fr);
      .doughnut-wrap {
        grid-column: 1 / 3;
        gap: 0;
        flex-direction: row;
        .doughnut-chart {
          width: 48%;
        }
      }
    }
  }
}
@media all and (max-width: 767px) {
  .contents {
    .chart-wrap {
      grid-template-columns: 1fr;
    }
  }
}
@media all and (max-width: 604px) {
  .contents {
    .bottom-chart-wrap {
      .doughnut-wrap {
        flex-direction: column;
        row-gap: 40px;
        .doughnut-chart {
          width: 100%;
        }
      }
    }
  }
}
