.wrap {
  max-width: 640px;
  height: 719.8px;
  background: #ccc;
  position: relative;
  .abox {
    padding: 20%;
    background: url("~src/assets/images/Vector.svg") no-repeat center center /
      cover;
    position: absolute;
    top: 0;
    right: 22.553%;
  }
  .bbox {
    background: url("~src/assets/images/Vector (1).svg") no-repeat center center /
      cover;
    width: 283.55px;
    height: 268.15px;
  }
}
