section {
  .h3-title {
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid #e6e8eb;
  }
  .form {
    margin-top: 40px;
    .row {
      &:not(:first-child, :last-child) {
        margin-top: 20px;
      }
      label {
        width: 180px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
      }
      .source-image {
        vertical-align: top;
      }
      textarea {
        height: 220px;
        padding: 20px;
        border-radius: 8px;
        resize: none;
        box-sizing: border-box;
        background: #f6f7f8;
        width: calc(100% - 180px);
      }
      input {
        padding: 16px;
        border-radius: 8px;
        background: #f6f7f8;
        box-sizing: border-box;
        width: calc(100% - 180px);
        vertical-align: middle;
      }

      .labcodeImage {
        border-radius: 8px;
        width: calc(100% - 180px);
        object-fit: cover;
        max-height: 459px;
      }
      .control-btn-wrap {
        display: inline-block;
        width: calc(100% - 180px);
        vertical-align: middle;
        .numeric-input {
          background: #f6f7f8;
          width: 50px;
          border-radius: 8px;
          margin-bottom: 10px;
        }
        .control {
          text-align: center;
          background: #f0f1f2;
          border-radius: 50px;
          position: relative;
          height: 52px;
          button {
            box-sizing: border-box;
            color: #79828a;
            background: transparent;
            padding: 15px 0;
            max-width: 100px;
            height: 52px;
          }
          span {
            width: 20%;
            height: 52px;
            line-height: 52px;
            background: #5138e5;
            border-radius: 50px;
            text-align: center;
            color: white;
            position: absolute;
          }
          .selected {
            font-weight: 700;
            border-radius: 26px;
            background: #5138e5;
            color: white;
          }
        }
      }
    }
    .btn-wrap {
      display: flex;
      margin-top: 60px;
      justify-content: flex-end;
      button {
        border-radius: 8px;
        font-size: 18px;
        width: 50%;
        max-width: 200px;
        padding: 22px 0;
      }
      .cancel-btn {
        background: #e6e8eb;
        color: black;
      }
      .submit-btn {
        background: #5138e5;
        color: white;
        margin-left: 12px;
      }
    }
  }
}
@media all and (max-width: 767px) {
  section {
    .form {
      .row {
        input[type="text"],
        textarea,
        .labcodeImage,
        .control-btn-wrap {
          width: 100%;
          margin-top: 10px;
        }
      }
      .btn-wrap {
        justify-content: center;
      }
    }
  }
}
@media all and (max-width: 479px) {
  section {
    .form {
      .row {
        .control {
          button {
            font-size: 12px;
          }
        }
      }
    }
  }
}
