main {
  padding: 60px 40px;
  min-height: calc(100vh - 200px);
  margin-left: 320px;
  background: white;
  .back-btn {
    width: 13px;
    height: 24px;
    background: url("~images/back_btn.svg") no-repeat center / 13px 24px;
  }
  .wrap {
    max-width: 840px;
    margin: 0 auto;
    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 62px;
      .h2-title {
        font-size: 36px;
      }
      .lnb {
        max-width: 264px;
        width: 100%;
        ul {
          li {
            width: 33.333%;
            display: inline-block;
            position: relative;
            a {
              display: inline-block;
              text-align: center;
              padding: 12px 0;
              width: 100%;
              font-weight: 700;
              font-size: 18px;
              color: #9ea7ad;
              position: relative;
            }
            .active {
              color: #5138e5;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}
@media all and (max-width: 767px) {
  main {
    .wrap {
      .header {
        .lnb {
          background: white;
          max-width: unset;
          margin-top: 24px;
        }
      }
    }
  }
}
