.select-box-wrap {
  cursor: pointer;
  position: relative;
  background: white;
}

.h3-title {
  font-size: 24px;
  margin-bottom: 24px;
}
.search-area {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f6f7f8;
  border-radius: 8px;
  background: white;
  display: inline-block;
  margin-bottom: 20px;
  z-index: 1;
}
.table-wrap {
  width: 100%;
  table {
    width: 100%;
    table-layout: fixed;
    tbody:before {
      content: "@";
      display: block;
      line-height: 8px;
      text-indent: -99999px;
    }
    tr {
      input {
        border: 1px solid #f6f7f8;
        background: #f6f7f8;
        border-radius: 4px;
        padding: 9.5px 16px;
        box-sizing: border-box;
        width: 100%;
        caret-color: #5138e5;
        cursor: pointer;
        &::placeholder {
          color: #9ea7ad;
        }
      }
      input:disabled {
        color: #9ea7ad;
      }

      th {
        background-color: white;
        color: #9ea7ad;
        font-size: 14px;
        padding: 18px 24px;
      }
      td {
        background-color: white;
        padding: 8px 24px;
        border-bottom: 1px solid #f6f7f8;
        .delete-btn {
          border: 1px solid #e6e8eb;
          border-radius: 4px;
          background: white;
          width: 52px;
          line-height: 28px;
          height: 28px;
          font-size: 12px;
          cursor: pointer;
        }
        .boolean-area {
          border: 1px solid #e6e8eb;
          border-radius: 4px;
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;
          button {
            width: 44px;
            font-size: 13px;
            font-weight: 700;
            background: white;
            color: #9ea7ad;
            height: 39px;
            line-height: 39px;
          }
          .selected {
            background: #5138e5;
            color: white;
          }
        }
        .attach {
          display: inline-block;
          vertical-align: middle;
          background: #f6f7f8;
          border-radius: 8px;
          width: calc(100% - 89px);
          margin-right: 12px;
          padding: 0 16px;
          box-sizing: border-box;
          input[type="file"] {
            display: none;
          }
          .input-file {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            height: 42px;
            line-height: 42px;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #9ea7ad;
          }
          .delete-btn {
            width: 36px;
            height: 36px;
            vertical-align: middle;
            background: url("~images/delete_file_btn.svg") no-repeat center
              center / 36px 36px;
          }
        }
        .file {
          display: inline-block;
          background: #79828a;
          color: white;
          border-radius: 8px;
          text-align: center;
          padding: 14px 0;
          width: 77px;
          height: 42px;
          line-height: 15px;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
      &:first-child {
        th {
          &:first-child {
            border-top-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }
}
.message {
  text-align: center;
  margin: 60px 0;
  font-size: 20px;
  font-weight: 700;
}
.add-info-btn {
  cursor: pointer;
  margin-top: 6px;
  color: #303538;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 24px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border-radius: 8px;
  background: url("~images/add_btn.svg") white no-repeat center right 24px /
    20px 20px;
}
.btn-wrap {
  position: sticky;
  bottom: 60px;
  display: flex;
  margin-top: 60px;
  justify-content: flex-end;
  button {
    border-radius: 8px;
    font-size: 18px;
    width: 50%;
    max-width: 200px;
    padding: 22px 0;
  }
  .import-group-btn {
    background: #79828a;
    color: white;
  }
  .add-group-btn {
    background: #5138e5;
    color: white;
    margin-left: 12px;
  }
}
